.game-container {
  text-align: center;
  transform: translateY(50%);

  & .header {
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
      margin-left: 20px;
    }

    & button {
      height: 30px;
    }
  }

  & .grid-container {
    display: inline-block;
    background-color: #bbada0;
    padding: 10px 10px 3px;
    position: relative;
    text-align: center;

    & .grid-row {
      margin-bottom: 6px;

      & .grid-cell {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        background-color: rgba(238, 228, 218, 0.35);

        &:last-of-type {
          margin: 0;
        }
      }
    }

    & .item {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 10px;
      left: 10px;
      background-color: brown;
      animation: newItem 0.3s;
      transition: left 0.1s, top 0.1s;

      & .item-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: white;
      }
    }
  }
}
@keyframes newItem {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);

  &-text {
    font-size: 100px;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.new-game-button {
  margin: 0 20px;
}
