<div class="game-container">
  <div class="header">
    <h2>Scores: {{ gameService.scores }}</h2>
    <button (click)="gameService.resetGame()" class="new-game-button">
      Start new game!
    </button>
  </div>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>

    <div class="items">
      <div
        *ngFor="let item of gameService.items"
        class="item"
        [ngStyle]="getStyles(item)"
      >
        <div class="item-title">{{ item.value }}</div>
      </div>
    </div>
    <div *ngIf="gameService.isEnd" class="overlay">
      <p class="overlay-text">The end</p>
    </div>
  </div>
</div>
